<div class="fields">
  <p><b>Titel:</b> <%= f.text_field :title %> <%= link_to_remove_fields "Ta bort uppdrag", f %></p>
  <p><b>Period:</b> <%= swedish_date_select f, :start_at %> -
    <%= swedish_date_select f, :end_at %></p>
  <p>
    Beskrivning: <br />
    <%= f.text_area :description %>
  </p>
</div>
