<% form_for(@profile) do |f| %>
  <%= f.error_messages %>

  <% if @profile.new_record? %>
  	<p>
	  Användare: <%= f.select :user_id, User.without_profile(:order => 'name').reverse.collect {|u| [u.name, u.id]} %>
	  <%= link_to 'Skapa ny användare', new_user_path %>
	</p>	
  <% else %>
    <%= link_to 'Ändra användarinställningar', edit_user_path(@profile.user) %>
  <% end %>
  
  <h3>Personlig information</h3>
  <p>Födelseår: <%= f.text_field :birth %></p>
  <p>
    Beskrivning: <br />
    <%= f.text_area :description %>
  </p>

  <h3>Teknisk kompetens</h3>
  <% f.fields_for :rankings do |rf| %>
    <%= render 'ranking_fields', :f => rf %>
  <% end %>
  <%= link_to_add_fields "Ny ranking", f, :rankings %>

  <h3>Uppdrag</h3>
  <% f.fields_for :assignments do |af| %>
	<%= render 'assignment_fields', :f => af %>
  <% end %>
  <%= link_to_add_fields "Nytt uppdrag", f, :assignments %>

  <p>
    <%= f.submit 'Spara' %>
  </p>
<% end %>