<h1><%=h @profile.name %></h1>

<%= render :partial => 'form' %>

<%= link_to 'Visa', @profile %> |
<%= link_to 'Visa som PDF', profile_path(@profile, :format => :pdf) %> |
<%= link_to 'Alla konsultprofiler', profiles_path %>