<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  
  <div style="float:right;">
    <p><%= image_tag @user.photo.url, :width => 200 %></p>
    <%= f.file_field :photo %>
  </div>
  <% if admin? && !@user.is_root_admin? %>
    <p><b>Login:</b> <%= f.text_field :login %></p>
    <p><b>Administratör:</b> <%= f.check_box:is_admin %></p>
  <% end %>
  <p><b>Förnamn:</b> <%= f.text_field :first_name %></p>
  <p><b>Efternamn:</b> <%= f.text_field :last_name %></p>
  <p><b>Epost:</b> <%= f.text_field :email %></p>
  <% unless @user.is_root_admin? && !current_user.is_root_admin? %>
    <p><b>Lösenord:</b> <%= f.password_field :password %></p>
    <p><b>Bekräfta lösenord:</b> <%= f.password_field :password_confirmation %></p>
  <% end %>
  
  <%= f.submit 'Spara' %>
<% end %>