<h1>Anv채ndare</h1>

<% if @all_users %>
  <%= link_to 'Visa bara anv채ndare utan profiler', users_path %>
<% else %>
  <%= link_to 'Visa alla anv채ndare', users_path(:all => true) %>
<% end %>
<ul>
	<% @users.each do |user| %>
	  <li>
	    <%= link_to h(user.name), user_path(user) %> (<%=h user.login %>, <%=h user.email %>)
	  </li>
	<% end %>	
</ul>

<%= ([link_to 'Ny anv채ndare', new_user_path] + standard_links).join ' | '%>