<h1><%=h @user.name %> <%= '(Administatör)' if @user.is_admin %></h1>

<p><b>Login:</b> <%=h @user.login %></p>
<p><b>Email:</b> <%=h @user.email %></p>

<%= link_to 'Redigera', edit_user_path(@user) %>