<% form_for(@search) do |f| %>
  <%= f.error_messages %>

  <p><b>Ord i beskrivningen:</b> <%= f.text_field :free_text %></p>

  <% f.fields_for :requirements do |rf| %>
    <%= render 'requirement_fields', :f => rf %>
  <% end %>
  <%= link_to_add_fields "Nytt kompetensönskemål", f, :requirements %>

  <p><%= f.submit 'Sök' %></p>
<% end %>
