<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Konsultprofiler</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

<div style="width: 800px;margin-right: auto; margin-left: auto;">
  <div style="float:right;width:150px;border-style:solid;border-width:1px;border-color:#808080;margin:2px;margin-left:16px;margin-bottom:16px;padding:4px;background-color:#f0f0f0;">
    <%= link_divs %>
  </div>
  <div>
    <div style="margin:2px;">
      <p style="color: green"><%= flash[:notice] %></p>
    </div>
    <div style="margin:2px;">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
